<ion-view title="Rock Paper Scissors" hide-nav-bar="true" id="page1" style="background-color:#eee;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img id="rockPaperScissors-image1" src="img/rockpaperscissors.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; margin-bottom: 16px">
    </div>
    <div id="rockPaperScissors-markdown1" class="show-list-numbers-and-dots">
      <p><strong>Rock, Paper, Scissors?</strong></p>
    </div>
    <div id="rockPaperScissors-markdown3" style="display:none" class="show-list-numbers-and-dots">
      <p id="gameMessage">I chose Rock. You got me.</p>
    </div>
    <div id="rockPaperScissors-button-bar1" class="button-bar" style="display:flex">
      <button id="rockPaperScissors-button7" class="button button-positive button-block game-userpicks">Rock</button>
      <button id="rockPaperScissors-button8" class="button button-positive button-block game-userpicks">Paper</button>
      <button id="rockPaperScissors-button9" class="button button-positive button-block game-userpicks">Scissors</button>
    </div>
    <button id="rockPaperScissors-button10" class="button button-balanced button-block" style="display:none">Next Round</button>
  </ion-content>
</ion-view>